<?xml version="1.0" encoding="UTF-8"?>
<project
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"
	xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<modelVersion>4.0.0</modelVersion>

	<parent>
		<groupId>org.sourcepit.b2.examples</groupId>
		<artifactId>common-config</artifactId>
		<version>${project.version}</version>
		<relativePath>../common-config/module.xml</relativePath>
	</parent>

	<artifactId>rcp</artifactId>
	<version>${project.version}</version>
	<packaging>pom</packaging>

	<properties>
		<sites></sites>
	</properties>

	<dependencies>
		<dependency>
			<groupId>org.sourcepit.b2.examples</groupId>
			<artifactId>rcp.help</artifactId>
			<version>${project.version}</version>
			<type>pom</type>
		</dependency>
		<dependency>
			<groupId>org.sourcepit.b2.examples</groupId>
			<artifactId>rcp.ui</artifactId>
			<version>${project.version}</version>
			<type>pom</type>
		</dependency>
	</dependencies>

	<profiles>
		<profile>
			<id>useSites</id>
			<repositories>
				<repository>
					<id>local-p2-rcp-help</id>
					<layout>p2</layout>
					<url>${p2repo}/org.sourcepit.b2.examples.rcp.help.internal.site/\${project.version}</url>
				</repository>
				<repository>
					<id>local-p2-rcp-ui</id>
					<layout>p2</layout>
					<url>${p2repo}/org.sourcepit.b2.examples.rcp.ui.internal.site/\${project.version}</url>
				</repository>
			</repositories>
		</profile>
	</profiles>

</project>
