<?xml version="1.0" encoding="UTF-8"?>
<project
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"
	xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<modelVersion>4.0.0</modelVersion>

	<parent>
		<groupId>org.sourcepit.b2.examples</groupId>
		<artifactId>common-config</artifactId>
		<version>${project.version}</version>
		<relativePath>../common-config/module.xml</relativePath>
	</parent>

	<artifactId>rcp</artifactId>
	<version>${project.version}</version>
	<packaging>pom</packaging>

	<properties>
		<b2.aggregate.feature.sdk.filter>**.sdk.**</b2.aggregate.feature.sdk.filter>
		<sites>sdk</sites>
	</properties>

	<dependencies>
		<dependency>
			<groupId>org.sourcepit.b2.examples</groupId>
			<artifactId>rcp.ui</artifactId>
			<version>\${project.version}</version>
			<classifier>internal</classifier>
			<type>module</type>
		</dependency>
	</dependencies>

</project>
