<?xml version="1.0" encoding="UTF-8"?>
<project
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"
	xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<modelVersion>4.0.0</modelVersion>

	<groupId>org.sourcepit.b2.examples.composite</groupId>
	<artifactId>composite</artifactId>
	<version>${b2.examples.version}</version>
	<packaging>pom</packaging>

	<properties>
		<tycho.version>${tycho.version}</tycho.version>
	</properties>

	<distributionManagement>
		<repository>
			<id>b2-releases</id>
			<url>file:////\${user.home}/repository/releases</url>
		</repository>
		<snapshotRepository>
			<id>b2-snapshots</id>
			<url>file:////\${user.home}/repository/snapshots</url>
		</snapshotRepository>
	</distributionManagement>

	<build>
		<extensions>
			<extension>
				<groupId>org.sourcepit.b2</groupId>
				<artifactId>b2-maven-plugin</artifactId>
				<version>${b2.extension.version}</version>
			</extension>
		</extensions>
	</build>

</project>