<?xml version="1.0" encoding="UTF-8"?>
<project
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"
	xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<modelVersion>4.0.0</modelVersion>

	<groupId>org.sourcepit.b2.its</groupId>
	<artifactId>NonOSGiDependenciesIT</artifactId>
	<version>1.0.0-SNAPSHOT</version>
	<packaging>pom</packaging>

	<properties>
		<tycho.version>${tycho.version}</tycho.version>
		<b2.osgify.forceManifestGeneration>javax.mail.mail</b2.osgify.forceManifestGeneration>
	</properties>

	<dependencies>
		<dependency>
			<groupId>javax.mail</groupId>
			<artifactId>mail</artifactId>
			<version>1.4.2</version>
		</dependency>
	</dependencies>

	<pluginRepositories>
		<pluginRepository>
			<id>srcpit-public</id>
			<url>http://nexus.sourcepit.org/content/groups/public/</url>
		</pluginRepository>
	</pluginRepositories>

	<build>
		<plugins>
			<plugin>
				<groupId>org.sourcepit.b2</groupId>
				<artifactId>b2-maven-plugin</artifactId>
				<version>${project.version}</version>
				<extensions>true</extensions>
				<configuration>
					<extensions>
						<extension>
							<groupId>org.sourcepit.b2</groupId>
							<artifactId>b2-p2-site-generator</artifactId>
							<version>${project.version}</version>
						</extension>
					</extensions>
				</configuration>
			</plugin>
		</plugins>
	</build>

</project>
