<?xml version="1.0" encoding="UTF-8"?>
<project
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"
	xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<modelVersion>4.0.0</modelVersion>
	
	<parent>
        <groupId>org.sourcepit.b2.its</groupId>
        <artifactId>parent</artifactId>
        <version>1.0.0-SNAPSHOT</version>
        <relativePath>../parent/module.xml</relativePath>
    </parent>

	<artifactId>module-b</artifactId>
	<packaging>pom</packaging>

	<properties>
		<osgifier.overrideNativeBundles>javax.mail.mail</osgifier.overrideNativeBundles>
	</properties>

	<dependencies>
		<dependency>
			<groupId>javax.mail</groupId>
			<artifactId>mail</artifactId>
			<version>1.4.2</version>
		</dependency>
	</dependencies>

</project>
