<?xml version="1.0" encoding="UTF-8"?>
<project
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"
	xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<modelVersion>4.0.0</modelVersion>

	<groupId>org.sourcepit.b2.examples</groupId>
	<artifactId>common-config</artifactId>
	<version>${project.version}</version>
	<packaging>pom</packaging>

	<properties>
		<tycho.version>${tycho.version}</tycho.version>
		<p2repo.version>${p2repo.version}</p2repo.version>
		<b2.extension.version>${b2.extension.version}</b2.extension.version>
		<p2repo>file:/\${user.dir}/../.p2</p2repo>
	</properties>

	<build>
		<plugins>
			<plugin>
				<groupId>org.sourcepit.beef</groupId>
				<artifactId>b2-maven-plugin</artifactId>
				<version>\${b2.extension.version}</version>
				<extensions>true</extensions>
			</plugin>
			<plugin>
				<groupId>org.eclipse.tycho</groupId>
				<artifactId>target-platform-configuration</artifactId>
				<version>\${tycho.version}</version>
				<configuration>
					<resolver>p2</resolver>
					<environments>
						<environment>
							<os>linux</os>
							<ws>gtk</ws>
							<arch>x86</arch>
						</environment>
						<environment>
							<os>linux</os>
							<ws>gtk</ws>
							<arch>x86_64</arch>
						</environment>
						<environment>
							<os>win32</os>
							<ws>win32</ws>
							<arch>x86</arch>
						</environment>
						<environment>
							<os>win32</os>
							<ws>win32</ws>
							<arch>x86_64</arch>
						</environment>
					</environments>
				</configuration>
			</plugin>
		</plugins>
	</build>

	<profiles>
		<profile>
			<id>deploySites</id>
			<build>
				<plugins>
					<plugin>
						<groupId>org.sourcepit.beef</groupId>
						<artifactId>p2repo-maven-plugin</artifactId>
						<version>\${p2repo.version}</version>
						<executions>
							<execution>
								<id>deploySites</id>
								<phase>verify</phase>
								<goals>
									<goal>deploy-p2repo</goal>
								</goals>
								<configuration>
									<repository>
										<id>local-p2</id>
										<url>\${p2repo}</url>
									</repository>
								</configuration>
							</execution>
						</executions>
					</plugin>
				</plugins>
			</build>
		</profile>
	</profiles>

</project>
